<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% if notice %>
          <br/>
          <div class="alert alert-info"> <%= notice %> </div>
      <% end %>
      <%= link_to "Выйти", login_url(current_driver), class: 'driver_btn_exit', :method => "delete" %>

      <br><br>

      <% if !@orders.blank? %>

          <% @orders.each do |order| %>
              <%= link_to order.shop, order, class: 'driver_btn', role: 'button' %>
              <%= order.address %>
              <h5>Вода: <%= order.pure_water %> | Отработка: <%= order.dirty_bottle %></h5>
              <hr>
          <% end %>
      <% else %>
          <div class="alert alert-info"> Нет заявок.</div>
      <% end %>

    </div>
  </div>
</div>
